<div class="form-container">
  <h1 class="form-title">{{ isEditMode ? "Edit agent" : "Create new agent" }}</h1>
  <form [formGroup]="agentForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Full name</mat-label>
      <input matInput formControlName="name" placeholder="Enter agent full name" />
      <mat-error *ngIf="agentForm.controls['name'].hasError('required')">Name is required</mat-error>
      <mat-error *ngIf="agentForm.controls['name'].hasError('minlength')">
        Name must be at least 3 characters long
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Commission</mat-label>
      <input matInput formControlName="commission" placeholder="Enter commission" maxlength="3"
             (input)="onInputCommission($event)" />
      <!--      <mat-hint align="end">{{ commissionInputValue().length }}/2</mat-hint>-->
      <mat-error *ngIf="agentForm.controls['commission'].hasError('required')">
        Commission is required
      </mat-error>
      <mat-error *ngIf="agentForm.controls['commission'].hasError('pattern')">
        Commission must be a number
      </mat-error>
      <mat-error *ngIf="agentForm.controls['commission'].hasError('max')">
        Commission must be less or equal 100
      </mat-error>
    </mat-form-field>
    <div class="btn-wrapper">
      <button mat-raised-button type="button" color="primary" (click)="onCancel()" class="btn-cancel">Cancel</button>
      <button mat-flat-button type="submit" color="primary" class="btn-create"
              [disabled]="agentForm.invalid">{{ isEditMode ? "Edit" : "Create" }}
      </button>
    </div>
  </form>
</div>
