<div class="dash-container">
  <div class="wrapper">
    <!--  Field for searching in the table  -->
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applySearchFilter($event)" placeholder="Ex. David Flanagan" #input />
    </mat-form-field>

    <!--  Btn add new agent-->
    <button mat-flat-button color="primary" (click)="navigateToNewAgent()" class="btn-add">Add new</button>
  </div>

  <!-- Table list of agents -->
  <table mat-table matSort [dataSource]="agentsDataSource" class="mat-elevation-z8" #input>
    <!-- btn edit-->
    <ng-container matColumnDef="action-edit" class="qqq">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" class="column-action-edit-cell">
        <button type="button" mat-icon-button color="warn" (click)="navigateToEditAgent(element._id)" class="btn-edit">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- btn delete -->
    <ng-container matColumnDef="action-delete" class="column-action-delete-header">
      <mat-header-cell *matHeaderCellDef class="column-action-delete-cell"></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button type="button" mat-icon-button color="warn" (click)="openDeleteDialog(element._id)" class="btn-delete">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- table header & data -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }}</mat-cell>
    </ng-container>

    <!-- Commission Column -->
    <ng-container matColumnDef="commission">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Commission</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.commission }}</mat-cell>
    </ng-container>

    <!-- Row for empty agents list -->
    <tr *matNoDataRow>
      <td colspan="4" *ngIf="input.value !==''">
        No data matching the Search criteria: "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    class="mat-paginator mat-elevation-z8"
    [pageSize]="10"
    [pageSizeOptions]="[5,10,20,50]"
    aria-label="Select page">
  </mat-paginator>
</div>
