.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  padding: 10px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 20px;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-create {
  margin-right: 10px;
}

.btn-cancel {
  margin-left: 10px;
}

.form--grid {
  display: grid;
  gap: 15px;
}

.form-title {
  margin-left: 10px;
}
