<div class="form-container">
  <h1 class="form-title">TV Company APP</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()" class="form--grid">
    <h2>Login</h2>
    <mat-form-field appearance="fill">
      <mat-label>Employee ID</mat-label>
      <input matInput formControlName="employeeID" placeholder="Ex. 12345" maxlength="5" />
      <mat-error *ngIf="loginForm.get('employeeID')?.hasError('required')">
        Enter employee ID
      </mat-error>
      <mat-error *ngIf="loginForm.get('employeeID')?.hasError('pattern')">
        Identifier must be exactly 5 numbers
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'" placeholder="Ex. Password2" />
      <button
        mat-icon-button
        matSuffix
        (click)="toggleHide($event)"
        [attr.aria-label]="'password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Enter your password
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')">
        Ex. Password1
      </mat-error>
    </mat-form-field>

    <div class="btn-wrapper">
      <button mat-raised-button type="button" color="primary" (click)="onCancel()" class="btn-cancel">Cancel</button>
      <button mat-flat-button type="submit" color="primary" class="btn-create"
              [disabled]="loginForm.invalid">Login
      </button>
    </div>

  </form>
</div>
