<div class="dash-container">
  <div class="wrapper">
    <!--  Search field  -->
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applySearchFilter($event)" placeholder="Ex. David Flanagan" #input />
    </mat-form-field>

    <!--  Btn add new  -->
    <button type="button" mat-flat-button color="primary" (click)="navigateToNewCommercial()" class="btn-add">Add new
    </button>
  </div>

  <!--  Table with commercials list-->
  <table mat-table matSort
         [dataSource]="commercialsDataSource" multiTemplateDataRows
         class="mat-elevation-z8">

    <!-- Commercials name column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
    </ng-container>

    <!-- Shows name column -->
    <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Show</th>
      <td mat-cell *matCellDef="let element"> {{ element.show.name }}</td>
    </ng-container>

    <!-- Commercials date column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date start</th>
      <td mat-cell *matCellDef="let element"> {{ element.date.start.split('T')[0].toString() }}</td>
    </ng-container>

    <!-- Commercials duration column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration (minutes)</th>
      <td mat-cell *matCellDef="let element"> {{ element.duration }}</td>
    </ng-container>

    <!--  btn arrow up/down-->
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions"></th>
      <td mat-cell *matCellDef="let element" class="btn-pudding">
        <button type="button" mat-icon-button aria-label="expand row"
                (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation(); $event.preventDefault()">
          @if (expandedElement === element) {
            <mat-icon>keyboard_arrow_up</mat-icon>
          } @else {
            <mat-icon>keyboard_arrow_down</mat-icon>
          }
        </button>
      </td>
    </ng-container>

    <!-- btn edit-->
    <ng-container matColumnDef="action-edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="btn-pudding">
        <button mat-icon-button color="warn" (click)="navigateToEditCommercial(element._id)" class="btn-edit">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- btn delete-->
    <ng-container matColumnDef="action-delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="btn-pudding">
        <button type="button" mat-icon-button color="warn" (click)="openDeleteDialog(element._id)" class="btn-delete">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Expanded Content Column -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
        <ul class="example-element-detail"
            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <li class="expand-container">
            <h3>Show information:</h3>
            <span><i class="text-weight">Name:</i> {{ element.show.name }}</span>
            <span><i class="text-weight">Rating:</i> {{ element.show.rating }}</span>
            <span><i class="text-weight">Price:</i> {{ element.show.pricePerCommercial }} ($/minute)</span>
          </li>
          <li class="expand-container">
            <h3>Customer information:</h3>
            <span><i class="text-weight">Name:</i> {{ element.customer.name }}</span>
            <span><i class="text-weight">Contact Person:</i> {{ element.customer.contactPerson }} (tel.:
              {{ element.customer.phone }})</span>
          </li>

          <li class="expand-container">
            <h3>Agent information:</h3>
            <span><i class="text-weight">Full name:</i> {{ element.agent.name }}</span>
            <span><i class="text-weight">Commission:</i> {{ element.agent.commission }}%</span>
          </li>
        </ul>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>


  <mat-paginator
    class="mat-paginator mat-elevation-z8"
    [pageSize]="10"
    [pageSizeOptions]="[5,10,20,50]"
    aria-label="Select page">
  </mat-paginator>
</div>
