<div class="dash-container">
  <div class="wrapper">
    <!--  Field for searching in the table  -->
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput (keyup)="applySearchFilter($event)" placeholder="Ex. David Flanagan" #input />
    </mat-form-field>

    <!--  Btn add new-->
    <button mat-flat-button color="primary" (click)="navigateToNewShow()" class="btn-add">Add new</button>
  </div>

  <!-- Table with shows list -->
  <table mat-table matSort [dataSource]="showsDataSource" class="mat-elevation-z8" #input>
    <!-- btn edit-->
    <ng-container matColumnDef="action-edit">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="navigateToEditShow(element._id)" class="btn-edit">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- btn delete-->
    <ng-container matColumnDef="action-delete" class="column-delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="openDeleteDialog(element._id)" class="btn-delete">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- table header & data -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }}</mat-cell>
    </ng-container>

    <!-- Rating Column -->
    <ng-container matColumnDef="rating">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Rating (1-10)</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.rating }}</mat-cell>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="pricePerCommercial">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Price ($/minute)</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.pricePerCommercial }}</mat-cell>
    </ng-container>

    <!-- Row for empty shows list -->
    <tr *matNoDataRow>
      <td colspan="4" *ngIf="input.value !==''">
        No data matching the Search criteria: "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    class="mat-paginator mat-elevation-z8"
    [pageSize]="10"
    [pageSizeOptions]="[5,10,20,50]"
    aria-label="Select page">
  </mat-paginator>
</div>
